@keyframes zoominoutsinglefeatured {
    0% {
        fransform: scale(1,1);
    }
    50% {
        transform:scale(1.2,1.2);
    }
    100% {
        transform:scale(1,1);
    }
}

.zoomer {
    animation:zoominoutsinglefeatured 15s forwards;
}